.App {
  text-align: center;
  background-color: #F2D5F5;
  min-height: 100vh;
  padding-top: 20px;
}
/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
  .header {
    font-family: 'Rubik Microbe', cursive;
    font-size: 45px;
    color: #6A1773;
    -webkit-text-stroke-width: .000001px;
    -webkit-text-stroke-color: white;
    padding: 20px;
    height: 125px;
    background: url('https://i.imgur.com/OTxhOPP.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;
    margin-bottom: 0;
  }
.post {
  margin: auto;
  font-family: 'Roboto Slab', serif;
  background-color: #D5F5D6;
  width: 500px;
  height: auto;
  padding: 20px;
  border-style: dotted;
  border-width: 3px;
  border-color: white;
  border-radius: 8px;
}
.postTitle {
  border-bottom-style: dashed;
  border-width: 3px;
  border-color: white;
  padding: 0px 0px 30px 0px
}
.likes {
  border-top-style: dashed;
  border-width: 3px;
  border-color: white
}
.likeButton {
  box-shadow: 0 8px 16px 0 #60dbb2, 0 3px 5px 0 #60dbb2;
  border: 0px;
  background-color: #85e6bd;
  border-radius: 8px;
  height: 30px;
}
.comment {
  font-family: 'Roboto Slab', serif;
  background-color: #FDFFCF;
  width: 500px;
  height: auto;
  padding: 20px;
  border-style: dotted;
  border-width: 3px;
  border-color: white;
  border-radius: 8px;
  margin: 10px auto auto auto; 
}
.textArea, input {
  width: 400px;
  height: auto;
  border-style: solid;
  border-color: #ffde70;
}
.commentForm {
  display: flex;
}
.submit, button {
  box-shadow: 0 8px 16px 0 #ffde70, 0 3px 5px 0 #ffde70;
  border: 0px;
  background-color: #ffdca8;
  border-radius: 8px;
  margin: 15px;
  height: 30px;
}