.App {
  text-align: center;
  background-color: #F2D5F5;
  min-height: 100vh;
}
/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.header {
  font-family: 'Rubik Microbe', cursive;
  color: white;
  padding: 20px
}
.post {
  font-family: 'Roboto Slab', serif;
  background-color: #D5F5D6;
  width: 500px;
  height: auto;
  padding: 20px;
  border-style: dotted;
  border-width: 3px;
  border-color: white
}
.postTitle {
  border-bottom-style: dashed;
  border-width: 3px;
  border-color: white
}
.likes {
  border-top-style: dashed;
  border-width: 3px;
  border-color: white
}
.comment {
  font-family: 'Roboto Slab', serif;
  background-color: #FDFFCF;
  width: 500px;
  height: auto;
  padding: 20px;
  border-style: dotted;
  border-width: 3px;
  border-color: white;
  margin: 10px 0px 0px 0px
}
.textArea {
  width: 300px;
  height: auto;
}
.commentForm {
  display: flex;
  
}